<div class="form-group">
    <label class="col-xs-2 control-label {{label.requiredCls}}">{{label.text}}</label>

    <div class="col-xs-10">
        <textarea class="ckeditor" name="{{name}}">{{value}}</textarea>
    </div>
</div>