<div class="form-group">
    <label class="col-xs-2 control-label {{label.requiredCls}}">{{label.text}}</label>
    <div class="col-xs-10">
        <label for="{{btnId}}" class="btn btn-default doc-choice">选择文件</label>
        <span class="sco-doc-title">未选择内容</span>
    </div>
</div>